.productWrap {
  :hover {
    color: #d392ff;
  }
  .productBox {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    cursor: pointer;

    .productPic {
      width: 250px;
      height: 250px;
      border-radius: 2px;
    }
    .productInfo {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      padding-top: 22px;
      font-weight: 600;
      text-align: center;
      word-break: keep-all;
    }
    .productInfo p {
      padding: 10px 0;
      transition: 0.3s ease-out;
    }
  }
}
