.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 100vw;
  height: 250px;
  padding: 50px 0;
  background-color: #fafafa;
  line-height: 30px;

  .footer-inner {
    display: flex;
    margin-left: 100px;

    .footer-logo {
      position: relative;
      width: 200px;
      margin-right: 50px;
      font-size: 20px;
    }

    .footer-div {
      position: relative;

      .footer-nav {
        display: flex;
        position: relative;
        font-size: 15px;

        .footer-menu {
          display: flex;

          li {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }

      .footer-info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        opacity: 0.4;
        font-size: 10px;
        list-style: none;

        li {
          &:before {
            content: '|';
            margin: 0px 5px;
          }
          &:first-child:before {
            content: none;
          }
        }
      }

      .copyright {
        opacity: 0.4;
        font-size: 13px;
      }
    }
  }
}
