.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
  // padding: 70px 0 100px 0;
  background-color: #fafafa;
  line-height: 30px;
  p {
    font-size: 10px;
  }
  .footer-inner {
    display: flex;
    // margin: 0 auto;
    margin-left: 100px;

    .footer-logo {
      position: relative;
      width: 100px;
      font-size: 20px;
    }

    .footer-div {
      position: relative;

      .footer-nav {
        display: flex;
        position: relative;
        // width: 800px;
        // font-size: 18px;

        .footer-ul {
          display: flex;
          > li {
            margin-right: 10px;
            font-size: 10px;
          }
        }
      }

      .footer-info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        font-size: 10px;
      }
    }
  }
}
