a {
  color: black;
  text-decoration-line: none;
}

@mixin iconSize {
  width: 32px;
  height: 32px;
}

nav {
  width: 100%;
  background-color: white;

  .navWrap {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 40px;

    .logo {
      width: 200px;
      height: 180px;
      margin-top: 20px;
      cursor: pointer;
    }

    .categorywrap {
      display: flex;
      justify-content: space-evenly;
      width: 400px;
      font-size: inherit;
      font-weight: 500;

      :hover {
        color: #d392ff;
      }
    }

    .nav-right-wrap {
      display: flex;
      justify-content: space-evenly;
      width: 250px;
      margin-right: -2px;
      margin-left: auto;
      padding-inline-start: 40px;

      .navrights {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 250px;

        .navSearchIcon {
          @include iconSize;
          padding: 0;
          border-color: transparent;
          background-color: transparent;
        }

        .navCartIcon {
          @include iconSize;
          padding-top: 2px;
        }

        .navLogIn {
          @include iconSize;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 60px;
          height: 33px;
          margin: 0 2px;
          padding-top: 5px;
          border: 1px solid black;
          border-radius: 17px;
          font-size: 12px;
          font-weight: 700;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
        }

        .moreInfoBtn {
          padding: 0;
          border-color: transparent;
          background-color: transparent;
        }
        .moreInfoIcon {
          @include iconSize;
        }
      }
    }
  }
}
